body {
	font-family: sans-serif;
}

.container {
	padding: 50px;
	width: 400px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;
	font-size: 18px;
}

.contentHeader {
	margin-bottom: 50px;
	font-size: 32px;
}

#name {
	padding: 0px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline;
}